{% extends 'main.html' %}
{% block body %}
{% include 'header.html' %}
{% if msg == None %}
{% else %}
            <script>
                Swal.fire({
                    icon: '{{ status }}',
                    title: '{{ status }}',
                    text: '{{ msg }}',
                  })
            </script>
{% endif %}
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                เพิ่มคำถาม
            </h1>
            <form class="space-y-4 md:space-y-6" action="{% url 'addQ' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">หัวข้อ</label>
                    <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your title" required="">
                </div>
                <div class="flex justify-center">
                    <div class="mb-3 xl:w-96">
                      <label for="exampleFormControlTextarea1" class="form-label inline-block mb-2 text-white"
                        >รายละเอียด</label
                      >
                      <textarea
                        class="
                          form-control
                          block
                          w-full
                          px-3
                          py-1.5
                          text-base
                          font-normal
                          text-white
                          bg-gray-700 bg-clip-padding
                          rounded
                          transition
                          ease-in-out
                          m-0
                          focus:text-white focus:bg-gray-700  focus:outline-none
                        "
                        id="exampleFormControlTextarea1"
                        rows="3"
                        name="detail"
                        placeholder="ข้อความ..."
                      ></textarea>
                    </div>
                  </div>
                  <label class="block">
                    <span class="sr-only">เลือกรูปภาพ</span>
                    <input required name="imgFile" type="file" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"/>
                  </label>
                <button type="submit" class="w-full text-white bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 bg-blue-600">
                    <svg class="inline w-[20px] h-[20px] mr-2 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                    <p class="inline relative top-0.5">ยืนยัน</p> 
                </button>
            </form>
        </div>
    </div>
</div>
</section>

{% endblock %}